<h6><strong>Marcador: </strong><%= @bookmark.name %></h6>
<h6><strong>Tipo: </strong><%= @bookmark.type.name %></h6>
<h6><strong>Categoría: </strong><%= @bookmark.category.name %></h6>
<h6><strong>Url: </strong><%= @bookmark.url %></h6>